<div class="row pe-3 ps-3">
  <div class="col mt-5 m-auto">
      <form [formGroup]="formGroupEmpresas">
          <div class="row mb-3">
              <div class="col-2">
                  <label for="name" class="form-label">Nome: </label>
              </div>
              <div class="col">
                  <input type="text" class="form-control" id="name" placeholder="None" formControlName="name">
              </div>
              <div class="col-2">
                  <div class=" class="form-check>
                      <input type="checkbox" class="form-check-input" id="active" formControlName="active" checked>
                      <label for="active" class="form-check-label ms-1">Ativo</label>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-2">
                  <label for="categoria" class="form-label">Categoria: </label>
              </div>
              <div class="col">
                  <select class="form-select" id="category" formControlName="category">
                      <option value="Regional">Regional</option>
                      <option value="Nacional">Nacional</option>
                      <option value="Internacional">Internacional</option>
                    </select>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-2">
                  <label for="contact" class="form-label">Contato: </label>
              </div>
              <div class="col">
                  <input type="text" class="form-control" id="contact" placeholder="+55 (11) 99999-9999" formControlName="contact" maxlength="19">
              </div>
          </div>
          <div class="mb-3 d-flex justify-content-end">
              <button class="btn btn-outline-dark" (click)="save()">SALVAR</button>
          </div>
      </form>
  </div>
</div>
<div class="row pe-3 ps-3 mb-5">
  <div class="col m-auto">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">NAME</th>
                  <th scope="col">ATIVO</th>
                  <th scope="col">CATEGORIA</th>
                  <th scope="col">CONTATO</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let empresa of empresas">
                  <th scope="row">{{empresa.id}}</th>
                  <td>{{empresa.name}}</td>
                  <td>{{empresa.active}}</td>
                  <td>{{empresa.category}}</td>
                  <td>{{empresa.contact}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
